*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.lof
*.lot
*.bbl
*.blg
.direnv
.envrc
result
img/Screenshot_20241213_112340.png
img/Screenshot_20241213_112314.png
img/Screenshot_20241213_112246.png
